<table mat-table [dataSource]="dataSource" class="houses-table mat-elevation-z8">

  <ng-container matColumnDef="price">
    <div *matHeaderCellDef>Price</div>
    <div *matCellDef="let house">{{house.price | number}} €</div>
  </ng-container>

  <ng-container matColumnDef="rooms">
    <div *matHeaderCellDef>Nb of rooms</div>
    <div *matCellDef="let house">{{house.rooms}}</div>
  </ng-container>

  <ng-container matColumnDef="surface">
    <div *matHeaderCellDef>Surface</div>
    <div *matCellDef="let house">{{house.surface}}</div>
  </ng-container>

  <ng-container matColumnDef="url">
    <div *matHeaderCellDef>Link</div>
    <div *matCellDef="let house"><a href="{{house.url}}" target="__blank">Link</a></div>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns" (click)="getRecord(row)" class="table-row"></mat-row>
</table>
