<div class="container">
  <form [formGroup]="form" (ngSubmit)="submitHandler()">
    <mat-form-field>
      <input
        type="number"
        matInput
        formControlName="min"
        id="min"
        placeholder="Min"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        type="number"
        matInput
        formControlName="max"
        id="max"
        placeholder="Max"
      />
    </mat-form-field>
    <br />
    <button type="submit" mat-raised-button color="primary">
      Adjust prices
    </button>
  </form>
</div>
